@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Syne+Tactile&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
header{
    background-color: #077b9b;
    font-size: xx-large;
   
    line-height: 3.5;
    margin: auto;
    display: block;
    align-items: center;
    height:fit-content;
    justify-content: space-between;
    text-align: center;
}
table, th, td {
  border: 1px solid;
  font-size:larger;
  font-family: 'Lato', sans-serif;

}
header nav a {
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: rgb(2, 168, 245);
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size:medium;
  }
  header nav a:hover {
    color: white;
  }
  header,label{
    font-family: 'Nunito', sans-serif;
    color: white;
  }
main{
    margin-top: 8%;
    margin-bottom: 8%;
    text-align: center;
    display: flex;
    justify-content:center;

}
#tableFooter{
color: black;
align-items: center;
margin-top: 0%;
text-align: center;

}
#styleTr{
background-color: #00bdf7;
}

footer{
    margin-top: 8px;
    background-color: #077b9b;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: white;
}
footer a{
    display: block;
    text-align: center;
    line-height: 150%;
    font-size:xx-large;
  }
  footer i{
    color: rgb(255, 255, 255);
  }