@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Syne+Tactile&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
header{
    background-color: #077b9b;
    font-size: xx-large;
   /*width: 50%;*/
    line-height: 3.5;
    margin: auto;
    display: block;
    align-items: center;
    height:fit-content;
    justify-content: space-between;
    text-align: center;
}
header nav a {
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: rgb(2, 168, 245);
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size:medium;
  }
  header nav a:hover {
    color: #3bfd00;
  }
  header label{
    font-family: 'Nunito', sans-serif;
    color: white;
  }
main{
    margin-top: 8px;
    color: black;
    font-family: 'Nunito', sans-serif;

}
main fieldset{
    color: black;
    align-items: center;
    text-align: center;
    width:50% ;
    margin: auto;
    display: block;
    align-items: center;
}

#showEmployee{
    display: flex;
    text-align: center;
    gap: 10px ;
    justify-content:center;
    flex-wrap: wrap;
}
#Show  {
    background-color:#0b5eac;
    color: white;
    align-items: center;
    text-align: center;
    width:25% ;
    height:fit-content;
    margin: auto;
    display: block;
    align-items: center;
    border-radius: 10%;
    font-size: small;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  #Show img {
    width: 50%;
    border-radius: 40%;

}
footer{
    margin-top: 8px;
    background-color: #077b9b;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: white;
}
footer a{
    display: block;
    text-align: center;
    line-height: 150%;
    font-size:xx-large;
  }
  footer i{
    color: rgb(255, 255, 255);
  }
 